<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
  <h1>About Us</h1>
  <p>Classic Auto Store was born when a Software Engineering student's
    love for classic cars crossed with the need for a class project idea. Before
    he knew it, WHAM! The idea hit him like a truck, and it became an overnight success.
    Now Classic Auto Cars is known as the coolest hangout and car enterprise in all
    the land.
  </p>
  <a href="http://localhost:8080">Back to the Mainscreen</a>
</body>
</html>